
h2 {
  margin: 0;
}
p {
  margin: 0;
}

.header {
  display: flex;
  align-items: center;
}

.header input {
  height: 45px;
  width: 43%;
  margin-left: 20px;
}

.orderData {
  margin-left: 50px;
  display: flex;
}