
h2 {
  margin: 0;
}
p {
  margin: 0;
}

.header {
  display: flex;
  align-items: center;
}

.header input {
  height: 45px;
  width: 43%;
  margin-left: 20px;
}

.orderData {
  margin-left: 40px;
}

.orderData p {
  border-radius: 2px 2px;
  padding: 5px;
  display: flex;
  border: 1px solid #ccc;
  height: 45px;
  align-items: center;
  vertical-align: center;
}